In [148]:
import json
import pandas as pd
import numpy as np
import datetime

In [149]:
# read file
with open('train.json', 'r') as myfile:
    data=myfile.read()

    # parse file
obj = json.loads(data)
df = pd.DataFrame(obj)

In [150]:
df.head()

,claim,claimant,date,id,label,related_articles
0,A line from George Orwell's novel 1984 predict...,,2017-07-17,0,0,"[122094, 122580, 130685, 134765]"
1,Maine legislature candidate Leslie Gibson insu...,,2018-03-17,1,2,"[106868, 127320, 128060]"
2,A 17-year-old girl named Alyssa Carson is bein...,,2018-07-18,4,1,"[132130, 132132, 149722]"
3,In 1988 author Roald Dahl penned an open lette...,,2019-02-04,5,2,"[123254, 123418, 127464]"
4,"When it comes to fighting terrorism, ""Another ...",Hillary Clinton,2016-03-22,6,2,"[41099, 89899, 72543, 82644, 95344, 88361]"

In [151]:
df["date"]= pd.to_datetime(df["date"]) 
df.dtypes

claim                       object
claimant                    object
date                datetime64[ns]
id                           int64
label                        int64
related_articles            object
dtype: object

In [152]:
df['month'] = df["date"].dt.month
df['day'] = df["date"].dt.day
df['year'] = df["date"].dt.year
df['quarter'] = df["date"].dt.quarter
df['dayofweek'] = df["date"].dt.dayofweek #Monday = 0 & Sunday = 6
df['dayofweek_name'] = df["date"].dt.weekday_name
df['is_weekend'] = np.where(df["dayofweek_name"].isin(['Sunday','Saturday']),1,0)
df['weekofyear'] = df["date"].dt.weekofyear
df['dayofyear'] = df["date"].dt.dayofyear

In [153]:
df.head()

,claim,claimant,date,id,label,related_articles,month,day,year,quarter,dayofweek,dayofweek_name,is_weekend,weekofyear,dayofyear
0,A line from George Orwell's novel 1984 predict...,,2017-07-17,0,0,"[122094, 122580, 130685, 134765]",7,17,2017,3,0,Monday,0,29,198
1,Maine legislature candidate Leslie Gibson insu...,,2018-03-17,1,2,"[106868, 127320, 128060]",3,17,2018,1,5,Saturday,1,11,76
2,A 17-year-old girl named Alyssa Carson is bein...,,2018-07-18,4,1,"[132130, 132132, 149722]",7,18,2018,3,2,Wednesday,0,29,199
3,In 1988 author Roald Dahl penned an open lette...,,2019-02-04,5,2,"[123254, 123418, 127464]",2,4,2019,1,0,Monday,0,6,35
4,"When it comes to fighting terrorism, ""Another ...",Hillary Clinton,2016-03-22,6,2,"[41099, 89899, 72543, 82644, 95344, 88361]",3,22,2016,1,1,Tuesday,0,12,82

In [154]:
df['year'].min()

1986

In [155]:
election_year =  np.arange(1984, 2024, 4)
election_year = pd.DataFrame(election_year,columns = ['year'])
election_year.head()

   year
0  1984
1  1988
2  1992
3  1996
4  2000

In [156]:
before_e_year =  np.arange(1983, 2023, 4)
before_e_year = pd.DataFrame(before_e_year,columns = ['before_e_year'])
before_e_year.head()

   before_e_year
0           1983
1           1987
2           1991
3           1995
4           1999

In [157]:
after_e_year =  np.arange(1985, 2025, 4)
after_e_year = pd.DataFrame(after_e_year,columns = ['after_e_year'])
after_e_year.head()

   after_e_year
0          1985
1          1989
2          1993
3          1997
4          2001

In [158]:
#get election year in dataset
df['e_year'] = df['year'].isin(election_year['year'])
df['b_year'] = df['year'].isin(before_e_year['before_e_year'])
df['a_year'] = df['year'].isin(after_e_year['after_e_year'])

In [159]:
#random check an election year
df[df['year'] == 2007]

,claim,claimant,date,id,label,related_articles,month,day,year,quarter,dayofweek,dayofweek_name,is_weekend,weekofyear,dayofyear,e_year,b_year,a_year
649,"Huckabee ""granted 1,033 pardons and commutatio...",Mitt Romney,2007-12-17,712,2,"[68190, 73630, 73629]",12,17,2007,4,0,Monday,0,51,351,False,True,False
1277,"""McCain Trying to Have it Both Ways on Iraq""",Democratic National Committee,2007-10-03,1394,1,"[84211, 77928, 84070]",10,3,2007,4,2,Wednesday,0,40,276,False,True,False
1427,"""First, he was in favor of my plan, now he's a...",Joe Biden,2007-10-12,1567,1,"[80624, 234]",10,12,2007,4,4,Friday,0,41,285,False,True,False
1494,"In the Illinois Legislature, Barack Obama ""vot...",Hillary Clinton,2007-12-20,1642,2,"[5491, 71119, 76414, 86171, 79890]",12,20,2007,4,3,Thursday,0,51,354,False,True,False
1515,"""The $2.3-billion budget deficit I inherited w...",Rudy Giuliani,2007-07-01,1666,1,"[72604, 80684, 80683, 79977]",7,1,2007,3,6,Sunday,1,26,182,False,True,False
1590,"""Obama was enrolled in a Wahabi school in Jaka...",Chain email,2007-10-01,1756,0,"[73371, 84071, 73374, 73372, 10550]",10,1,2007,4,0,Monday,0,40,274,False,True,False
2241,"""The Republican governor who stood up and cut ...",Mitt Romney,2007-09-21,2471,1,"[84664, 73812]",9,21,2007,3,4,Friday,0,38,264,False,True,False
2249,"""Going to public financing really disadvantage...",Bill Richardson,2007-10-05,2480,1,"[7330, 77084, 74233]",10,5,2007,4,4,Friday,0,40,278,False,True,False
2293,"""Sen. McCain says it was not a mistake to vote...",Mitt Romney,2007-12-26,2528,2,"[90994, 91041]",12,26,2007,4,2,Wednesday,0,52,360,False,True,False
2307,"""I've cast a couple of 99-1 votes"" and been th...",Fred Thompson,2007-09-07,2543,2,"[90974, 90983]",9,7,2007,3,4,Friday,0,36,250,False,True,False
2354,"""I have 35 years' experience making change.""",Hillary Clinton,2007-12-20,2592,1,"[90918, 75335, 76438, 86475]",12,20,2007,4,3,Thursday,0,51,354,False,True,False
2885,"Biden was responsible for ""ending genocide in ...",Joe Biden,2007-12-27,3179,1,"[1825, 2655]",12,27,2007,4,3,Thursday,0,52,361,False,True,False
3406,Obama spokesman Bill Burton says Clinton gave ...,Barack Obama,2007-10-21,3744,1,"[71104, 6102]",10,21,2007,4,6,Sunday,1,42,294,False,True,False
3538,"""The estate tax, which came into being by Repu...",Hillary Clinton,2007-10-10,3899,1,"[85166, 94574]",10,10,2007,4,2,Wednesday,0,41,283,False,True,False
3842,"""I'm proud to have had a 100 percent pro-life ...",Fred Thompson,2007-11-18,4233,2,"[95446, 2866, 2867, 2868]",11,18,2007,4,6,Sunday,1,46,322,False,True,False
3957,"Obama ""refused to not only put his hand on his...",Chain email,2007-11-08,4362,0,"[2178, 11902, 560, 2564, 126394]",11,8,2007,4,3,Thursday,0,45,312,False,True,False
4227,"""For every single illegal immigrant family in ...",Tom Tancredo,2007-10-09,4650,1,"[84095, 79326]",10,9,2007,4,1,Tuesday,0,41,282,False,True,False
4267,"""I spend a lot of time in Iowa, and believe it...",Tom Tancredo,2007-11-20,4694,0,"[4398, 73914]",11,20,2007,4,1,Tuesday,0,47,324,False,True,False
4283,"""...some of those (tax increases) were either ...",Mike Huckabee,2007-12-30,4712,1,"[94097, 70762, 70763, 93897]",12,30,2007,4,6,Sunday,1,52,364,False,True,False
5036,"""He was a member of the Iraq Study Group and w...",John McCain,2007-11-26,5543,2,"[95245, 660]",11,26,2007,4,0,Monday,0,48,330,False,True,False
5117,"""First, he said he would take all of our troop...",Joe Biden,2007-10-12,5629,1,"[80624, 625, 234]",10,12,2007,4,4,Friday,0,41,285,False,True,False
5516,"""One man opposed a flawed strategy in Iraq. On...",John McCain,2007-10-01,6074,2,"[84140, 84211, 77928]",10,1,2007,4,0,Monday,0,40,274,False,True,False
5701,"""At least Obama didn't marry his cousin,"" as G...",Obama Girl,2007-07-19,6276,2,"[84076, 94258]",7,19,2007,3,3,Thursday,0,29,200,False,True,False
6228,"Sen. Obama ""made the very argument he is now c...",Hillary Clinton,2007-10-25,6844,1,"[10564, 71547]",10,25,2007,4,3,Thursday,0,43,298,False,True,False
6385,"""The Iraq Study Group reported that (Saddam Hu...",Fred Thompson,2007-10-09,7020,0,"[95243, 78745, 78747, 78746]",10,9,2007,4,1,Tuesday,0,41,282,False,True,False
6497,"""Joe Biden is the only candidate with a plan t...",Joe Biden,2007-09-14,7142,1,"[88173, 95244, 87132, 234, 311, 1824, 3641, 31...",9,14,2007,3,4,Friday,0,37,257,False,True,False
6884,"He received ""A"" ratings from ""every conservati...",Tom Tancredo,2007-10-21,7585,1,"[66769, 73811]",10,21,2007,4,6,Sunday,1,42,294,False,True,False
7419,"""A ham and cheese sandwich on one slice of bre...",Hillary Clinton,2007-11-20,8171,2,"[77033, 78201, 84615]",11,20,2007,4,1,Tuesday,0,47,324,False,True,False
7602,"""He's a good man but he's a pro-life liberal. ...",Fred Thompson,2007-11-07,8374,1,"[2177, 73813]",11,7,2007,4,2,Wednesday,0,45,311,False,True,False
8020,"Barack Obama supported keeping troops in Iraq,...",Republican National Committee,2007-07-22,8846,1,"[73273, 84065, 84068, 67609]",7,22,2007,3,6,Sunday,1,29,203,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9522,"Poor people go to a ""payday lender...and they ...",John Edwards,2007-08-29,10498,2,"[89941, 89936]",8,29,2007,3,2,Wednesday,0,35,241,False,True,False
9913,"""Senator McCain voted against the Bush tax cut...",Mitt Romney,2007-04-26,10938,2,"[90994, 91041]",4,26,2007,2,3,Thursday,0,17,116,False,True,False
10475,"""All of the records, as far as I know, about w...",Hillary Clinton,2007-10-30,11544,1,"[70712, 7300, 81957, 85686, 85687, 67456]",10,30,2007,4,1,Tuesday,0,44,303,False,True,False
10700,"Huckabee ""was one of the highest taxing govern...",Fred Thompson,2007-11-05,11794,1,"[72534, 72546]",11,5,2007,4,0,Monday,0,45,309,False,True,False
10788,"""Mayor Giuliani's lawsuit killed the line-item...",Mitt Romney,2007-10-06,11887,1,"[86613, 86614]",10,6,2007,4,5,Saturday,1,40,279,False,True,False
11173,"""Fred's never had a 100 percent record on righ...",Mike Huckabee,2007-11-18,12307,1,"[95446, 2866, 2867, 2868, 84099, 90166]",11,18,2007,4,6,Sunday,1,46,322,False,True,False
11195,"Obama says his health care plan is ""universal.""",Barack Obama,2007-11-15,12331,1,"[71124, 10338]",11,15,2007,4,3,Thursday,0,46,319,False,True,False
11355,"Barack Obama's health care plan ""would leave 1...",Hillary Clinton,2007-11-15,12505,1,"[71124, 10338]",11,15,2007,4,3,Thursday,0,46,319,False,True,False
11746,"""I opposed this war from the beginning. I oppo...",Barack Obama,2007-09-12,12934,2,"[10544, 91035]",9,12,2007,3,2,Wednesday,0,37,255,False,True,False
11809,"""She stood by ground zero workers who sacrific...",Hillary Clinton,2007-10-04,13006,2,"[84220, 3640]",10,4,2007,4,3,Thursday,0,40,277,False,True,False
12118,"""Fences have not worked. The Great Wall of Chi...",Bill Richardson,2007-10-05,13349,1,"[75238, 5214]",10,5,2007,4,4,Friday,0,40,278,False,True,False
12218,"""... study after study has shown that the deat...",Fred Thompson,2007-08-20,13455,1,"[78080, 75408]",8,20,2007,3,0,Monday,0,34,232,False,True,False
12355,"""There's not a major bill I know with Hillary'...",Joe Biden,2007-12-31,13612,1,"[3645, 3649, 90921]",12,31,2007,4,0,Monday,0,1,365,False,True,False
13233,"""The Clintons now charge the Secret Service $1...",Chain email,2007-09-17,14579,0,"[86713, 113090, 71943, 88454, 90920]",9,17,2007,3,0,Monday,0,38,260,False,True,False
13250,"Says he has ""the most impressive education rec...",Mike Huckabee,2007-12-12,14598,1,"[90677, 76440, 12170]",12,12,2007,4,2,Wednesday,0,50,346,False,True,False
13381,"""Bill Richardson passed the first law in the n...",Bill Richardson,2007-09-05,14738,1,"[75498, 85232]",9,5,2007,3,2,Wednesday,0,36,248,False,True,False
13475,"""In state after state, polls make clear that t...",John McCain,2007-08-06,14840,1,"[89615, 72501, 72496]",8,6,2007,3,0,Monday,0,32,218,False,True,False
13821,"""Thanks to President Bush's policies....The in...",Hillary Clinton,2007-11-19,15229,1,"[79316, 72626]",11,19,2007,4,0,Monday,0,47,323,False,True,False
13879,"""The president is brain-dead.""",Joe Biden,2007-07-04,15289,0,"[6773, 75422]",7,4,2007,3,2,Wednesday,0,27,185,False,True,False
13886,"""I saw my father march with Martin Luther King.""",Mitt Romney,2007-12-06,15297,1,"[88464, 17793]",12,6,2007,4,3,Thursday,0,49,340,False,True,False
13906,"""The fact of the matter is that my colleague f...",Chris Dodd,2007-10-30,15317,1,"[10798, 79166, 78400, 78276, 11900]",10,30,2007,4,1,Tuesday,0,44,303,False,True,False
14175,"""I had prostate cancer, five, six years ago. M...",Rudy Giuliani,2007-10-31,15614,0,"[7292, 73592]",10,31,2007,4,2,Wednesday,0,44,304,False,True,False
14532,"""He's leading by example, refusing contributio...",Barack Obama,2007-08-21,16007,1,"[67232, 91721, 71101, 73086]",8,21,2007,3,1,Tuesday,0,34,233,False,True,False
14612,"In countries that allow gay marriage, the rate...",Sam Brownback,2007-09-05,16093,1,"[95901, 91491, 84903]",9,5,2007,3,2,Wednesday,0,36,248,False,True,False
14685,The signers of the Declaration of Independence...,Mike Huckabee,2007-10-21,16184,0,"[79375, 70174]",10,21,2007,4,6,Sunday,1,42,294,False,True,False
14710,"Barack Obama's health care plan ""would leave 1...",Hillary Clinton,2007-11-15,16211,1,"[71124, 10338]",11,15,2007,4,3,Thursday,0,46,319,False,True,False
14742,"""Bill Richardson is the only major Democratic ...",Bill Richardson,2007-09-25,16248,1,"[3641, 7589, 10543]",9,25,2007,3,1,Tuesday,0,39,268,False,True,False
14757,"""Sixty-five percent of the Iraqi people now sa...",Bill Richardson,2007-11-15,16265,1,"[84079, 10096, 10095]",11,15,2007,4,3,Thursday,0,46,319,False,True,False
14780,Hillary Clinton was against setting a deadline...,Republican National Committee,2007-07-22,16291,1,"[3642, 3650, 3648, 86456, 3652]",7,22,2007,3,6,Sunday,1,29,203,False,True,False
15028,"""My husband has not withheld a single document.""",Hillary Clinton,2007-11-04,16565,1,"[70712, 81957, 85686, 85687, 67456]",11,4,2007,4,6,Sunday,1,44,308,False,True,False

In [160]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
df['e_year_code'] = lb_make.fit_transform(df['e_year'])
df['b_year_code'] = lb_make.fit_transform(df['b_year'])
df['a_year_code'] = lb_make.fit_transform(df['a_year'])
df.drop(['dayofweek_name', 'e_year','b_year','a_year'], axis=1,inplace = True)
df.head()

,claim,claimant,date,id,label,related_articles,month,day,year,quarter,dayofweek,is_weekend,weekofyear,dayofyear,e_year_code,b_year_code,a_year_code
0,A line from George Orwell's novel 1984 predict...,,2017-07-17,0,0,"[122094, 122580, 130685, 134765]",7,17,2017,3,0,0,29,198,0,0,1
1,Maine legislature candidate Leslie Gibson insu...,,2018-03-17,1,2,"[106868, 127320, 128060]",3,17,2018,1,5,1,11,76,0,0,0
2,A 17-year-old girl named Alyssa Carson is bein...,,2018-07-18,4,1,"[132130, 132132, 149722]",7,18,2018,3,2,0,29,199,0,0,0
3,In 1988 author Roald Dahl penned an open lette...,,2019-02-04,5,2,"[123254, 123418, 127464]",2,4,2019,1,0,0,6,35,0,1,0
4,"When it comes to fighting terrorism, ""Another ...",Hillary Clinton,2016-03-22,6,2,"[41099, 89899, 72543, 82644, 95344, 88361]",3,22,2016,1,1,0,12,82,1,0,0

In [161]:
#extract X and Y
X = df.iloc[:,6:]
y = df['label']
X.head()

,month,day,year,quarter,dayofweek,is_weekend,weekofyear,dayofyear,e_year_code,b_year_code,a_year_code
0,7,17,2017,3,0,0,29,198,0,0,1
1,3,17,2018,1,5,1,11,76,0,0,0
2,7,18,2018,3,2,0,29,199,0,0,0
3,2,4,2019,1,0,0,6,35,0,1,0
4,3,22,2016,1,1,0,12,82,1,0,0

In [162]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [163]:
import xgboost as xgb
from sklearn.metrics import classification_report

In [164]:
#Train the XGboost Model for Classification
model1 = xgb.XGBClassifier()
train_model1 = model1.fit(X_train, y_train)
pred1 = train_model1.predict(X_test)

In [165]:
print(classification_report(y_test, pred1))

              precision    recall  f1-score   support

           0       0.57      0.75      0.65      1854
           1       0.55      0.50      0.52      1614
           2       0.00      0.00      0.00       421

    accuracy                           0.57      3889
   macro avg       0.38      0.42      0.39      3889
weighted avg       0.50      0.57      0.53      3889